<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Cart</title>
 <link rel="stylesheet" type="text/css" href="/Ecommerce-Website/static/style.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
rel="stylesheet">
<link rel="stylesheet" type="text/css" 
href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesomefree@6.1.2/css/fontawesome.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" 
href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesomefree@6.1.2/css/fontawesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs//6.1.2/css/all.min.css"></li>
</head>
<body>
<div class="small-container cart-page">
          <table>
          <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          </tr>
          <tr>
          <td>
          <div class="cart-info">
          <img src="/Ecommerce-Website/static/buy-2.jpg">
          <div>
          <p>Red Printed Tsirt</p>
          <small>Price:$50.00</small>
          <br>
          <a href="">Remove</a>
          </div> 
          </div>
          </td>
          <td><input type="number" value="1" name=""></td>
          <td>$ 50.00</td>
          </tr>
          <tr>
          <td>
          <div class="cart-info">
          <img src="/Ecommerce-Website/static/buy-1.jpg">
          <div>
          <p>Black Shoes</p>
          <small>Price:$120.00</small>
          <br>
          <a href="">Remove</a>
          </div> 
          </div>
          </td>
          <td><input type="number" value="1" name=""></td>
          <td>$ 50.00</td>
          </tr>
          <tr>
          <td>
          <div class="cart-info">
          <img src="/Ecommerce-Website/static/buy-3.jpg">
          <div>
          <p>Black Man Trausal</p>
          <small>Price:$150.00</small>
          <br>
          <a href="">Remove</a>
          </div> 
          </div>
          </td>
          <td><input type="number" value="1" name=""></td>
          <td>$ 50.00</td>
          </tr>
          </table>
          <div class="total-price">
          <table>
          <tr>
          <td>Subtotal</td>
          <td>$175</td>
          </tr>
          <tr>
          <td>Tax</td>
          <td>$35.00</td>
          </tr>
          <tr>
          <td>Subtotal</td>
          <td>$200.00</td>
          </tr>
          </table> 
                      </div>
          </div>
<div class="footer">
          <div class="container">
          <div class="row">
          <div class="footer-col-1">
          <h3>Download Our App </h3>
          <p>Download App for Android and ios mobile phone.</p>
          <div class="app-logo">
          
          </div>
          </div>
          <div class="footer-col-2">
          <img src="">
          <p>Our perpose that i create a awsome website for you 
          and Accessible to the many</p> 
          </div>
          <div class="footer-col-3">
          <h3>Useul Links</h3>
          <ul>
          <li>Coupans</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affileis</li>
          </ul> 
          </div>
          <div class="footer-col-4">
          <h3>Follow us</h3>
          <ul>
          <li>Facebook</li>
          <li>Twiteer</li>
          <li>Instagram</li>
          <li>Youtube</li>
          </ul> 
          </div> 
          </div>
          <hr>
          <p class="copyright">Copyright 2023-Rahulcoder</p>
          </div> 
</div>
</body>
<script type="text/javascript">
     var LoginForm = document.getElementById("Loginform");
     var RegForm = document.getElementById("Regform");
     var Indicateor = document.getElementById("Indicateor");
     function register() {
     RegForm.style.transform = "translate(0px)";
     LoginForm.style.transform = "translate(0px)";
     Indicateor.style.transform = "translate(100px);"
     }
     function login() {
     RegForm.style.transform = "translate(300px)";
     LoginForm.style.transform = "translate(300px)";
     Indicateor.style.transform = "translate(0px);"
     }
    </script>
</html>