<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>HMART</title>
     <link rel="stylesheet" href="/static/style.css">
</head>
<body>
     <div class="header">
          <div class="container">
               <div class="navbar">
                    <div class="logo">
                         <h1>
                              Ehar
                         </h1>
                    </div>
                    <a>Update Location</a>
                    <nav>
                         <ul>
                             <li><a href="{% url 'home' %}">Home</a></li>
                             <li><a href="{% url 'About' %}">About</a></li>
                             <li><a href="{% url 'Account' %}">Account</a></li>
                             <li><a href="{% url 'Order' %}">Order</a></li>
                             <li><a href="{% url 'Card' %}">Card</a></li>
                         </ul>
                     </nav>
               </div>
          </div>
     </div>
     <div class="herosection"></div>
</body>
</html>