<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>HMART</title>
     <link rel="stylesheet" href="/Ecommerce-Website/static/style.css">
</head>
<body>
     <div class="header">
          <div class="container">
               <div class="navbar">
                    <div class="logo">
                         <h1>
                              Ehar
                         </h1>
                    </div>
                    <a>Update Location</a>
                    <nav>
                         <ul>
                             <li><a href="#">Home</a></li>
                             <li><a href="#">Products</a></li>
                             <li><a href="#">About</a></li>
                             <li><a href="#">Contact</a></li>
                             <li><a href="#">Account</a></li>
                         </ul>
                     </nav>
               </div>
          </div>
     </div>
     <div class="herosection"></div>
     
  
      </div>
</body>
</html>