{% include "header.html" %}
     <div class="slider">
          <figure>
              <div class="slide">
                  
                  <img src="/static/slider 1.jpg" alt="">
              </div>
              <div class="slide">
                  
                  <img src="/static/slider3.jpg" alt="">
              </div>
              <div class="slide">
                 
                  <img src="/static/slider4.gif" alt="">
              </div>
              <div class="slide">
                  
                  <img src="/static/slider5.jpg" alt="">
              </div>
          </figure>
      </div>
     <!-- Card 1 -->
     <div class="card">
          <div class="card1 box">
              <div class="boxIN">
                  <h2>Toys under $25
                  </h2>
                  <div class="imagebox" style="background-image: url('/static/card1.jpg');"></div>
                  <p style="font-size: 13px;">See More</p>
              </div>
          </div>
  
  
  
          <div class="card2 box">
              <div class="boxIN">
                  <h2>Deals in PCs</h2>
                  <div class="imagebox" style="background-image: url('/static/pc.jpg');"></div>
                  <p style="font-size: 13px;">See More</p>
              </div>
          </div>
  
  
  
          <div class="card3 box">
              <div class="boxIN">
                  <h2>Beauty steals under $25</h2>
                  <div class="imagebox" style="background-image: url('/static/beauty.jpg');"></div>
                  <p style="font-size: 13px;">See More</p>
              </div>
          </div>
  
  
  
          <div class="card box">
              <div class="boxIN">
                  <h2>Home décor under $50</h2>
                  <div class="imagebox" style="background-image: url('/static/home.jpg');"></div>
                  <p style="font-size: 13px;">See More</p>
              </div>
          </div>
  
          <div class="p1 boxs">
              <h2 style="font-size: 21px;">Appliances for your Home | up to 50% off</h2>
              <div class="main"></div>
              <!-- top -->
              <div class="top_box">
                      <div class="leftbox">
                          <div class="topimg1" style="background-image: url('/static/ac.jpg');"></div>
                          <p>Ac</p>
                      </div>
                      <div class="rightbox">
                          <div class="topimg1" style="background-image: url('/static/oven.jpg');"></div>
                          <p>Oven</p>
                      </div>
                  </div>
              <!-- bottom -->
                  <div class="bottom_box">
                      <div class="top_box">
                          <div class="leftbox">
                              <div class="topimg1" style="background-image: url('/static/rfg.jpg');"></div>
                              <p>Refrigerator</p>
                          </div>
                          <div class="rightbox">
                              <div class="topimg1" style="background-image: url('/static/washingm.jpg');"></div>
                              <p>washing Machine</p>
                              
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="p1 boxs">
                  <h2 style="font-size: 21px;">Deals on travel tickets you cannot resist
                  </h2>
                  <div class="main"></div>
                  <!-- top -->
                  <div class="top_box">
                          <div class="leftbox">
                              <div class="topimg1" style="background-image: url('/static/airplane.jpg');"></div>
                              <p>Up to $5000 off | Flight tickets</p>
                          </div>
                          <div class="rightbox">
                              <div class="topimg1" style="background-image: url('/static/rail.jpg');"></div>
                              <p>Zero Gateway Fees on trains</p>
                          </div>
                      </div>
                  <!-- bottom -->
                      <div class="bottom_box">
                          <div class="top_box">
                              <div class="leftbox">
                                  <div class="topimg1" style="background-image: url('/static/bus.jpg');"></div>
                                  <p>Bus ticket bookings</p>
                              </div>
                              <div class="rightbox">
                                  <div class="topimg1" style="background-image: url('/static/travel.jpg');"></div>
                                  <p>Products For your Travel Needs</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="p1 boxs">
                      <h2 style="font-size: 21px;">Toys & games for your kids | Amazon Brands</h2>
                      <div class="main"></div>
                      <!-- top -->
                      <div class="top_box">
                              <div class="leftbox">
                                  <div class="topimg1" style="background-image: url('/static/toy1.jpg');"></div>
                                  <p>starting 299 | Bikes trikes </p>
                              </div>
                              <div class="rightbox">
                                  <div class="topimg1" style="background-image: url('/static/toy2.jpg');"></div>
                                  <p>Starting 149 | sport & outdoor</p>
                              </div>
                          </div>
                      <!-- bottom -->
                          <div class="bottom_box">
                              <div class="top_box">
                                  <div class="leftbox">
                                      <div class="topimg1" style="background-image: url('/static/toy3.jpg');"></div>
                                      <p>Starting 235 |Soft toys</p>
                                  </div>
                                  <div class="rightbox">
                                      <div class="topimg1" style="background-image: url('/static/toy4.jpg');"></div>
                                      <p>Starting 199 |puzzles |games</p>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="p1 boxs">
                          <h2 style="font-size: 21px;">Starting 99 | All your home improvement needs</h2>
                          <div class="main"></div>
                          <!-- top -->
                          <div class="top_box">
                                  <div class="leftbox">
                                      <div class="topimg1" style="background-image: url('/static/ap1.jpg');"></div>
                                      <p>Spin Mops, wipes & more</p>
                                  </div>
                                  <div class="rightbox">
                                      <div class="topimg1" style="background-image: url('/static/ap2.jpg');"></div>
                                      <p>Bathroom Hardware & accessories</p>
                                  </div>
                              </div>
                          <!-- bottom -->
                              <div class="bottom_box">
                                  <div class="top_box">
                                      <div class="leftbox">
                                          <div class="topimg1" style="background-image: url('/static/ap3.jpg');"></div>
                                          <p>Hammers,screwdrivers & more</p>
                                      </div>
                                      <div class="rightbox">
                                          <div class="topimg1" style="background-image: url('/static/ap4.jpg');"></div>
                                          <p>Extension  Board ,plugs & more</p>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
  
      </div>        
          </div>
          
      <div class="foot-box">
          <div class="fb">
              <a href=""><h3>Get to Know Us</h3>
              <a href="">About Us</a> <br><br>
              <a href="">Careers</a> <br><br>
              <a href="">Press Releases</a><br><br>
              <a href="">Amazon Science</a><br><br>
  
          </div>
          <div class="fb">
             <a href=""><h3>Connect with Us</h3></a> 
             <a href="">Facebook</a> <br><br>
             <a href="">Instagram</a> <br><br>
             <a href="">Twitter</a> <br><br>
              
  
          </div>
          <div class="fb">
              <a href=""><h3>Make Money with Us</h3></a>
              <a href="">Sell on Amazon</a><br><br>
              <a href="">Sell under Amazon Accelerator</a><br><br>
              <a href="">Protect and Build Your Brand</a><br><br>
              <a href="">Amazon Global Selling</a><br><br>
              <a href="">Become an Affiliate</a><br><br>
  
          </div>
          <div class="fb">
              <a href=""><h3>Let Us Help You</h3></a>
              <a href="">COVID-19 and Amazon</a><br><br>
              <a href="">Your Account</a><br><br>
              <a href="">Returns Centre</a><br><br>
              <a href="">100% Purchase Protection</a><br><br>
              <a href="">Amazon App Download</a><br><br>
             <a href="">Help</a> <br><br>
  
          </div>
  
      </div>
      <div class="lastbox">
          <div class="boxx">
              <div class="image"></div>
              <select name="" id="">
                  <option value="">English</option>
                  <option value="">Hindi</option>
                  <option value="">Marathi</option>
                  <option value="">Urdu</option>
                  <option value="">Telgu</option>
                  <option value="">Bhojpuri</option>
                  <option value="">Malayalam</option>
              </select>
          </div>
          <p>@copyright by RahulCoder</p>
      </div>
  
</body>
</html>