<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/Ecommerce-Website/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="header">
    <div class="container">
<div class="row">
    <div class="col-2">
        <h1>Give Your Workout <br> A New style !</h1>
        <p>Success isn't always about greatness.
             It's about consistency. consistent
              hard work gains success. Greatness
               will come</p>
               <a href="#" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="/Ecommerce-Website/Images/exclusive.png" alt="">
    </div>
</div>
</div>
</div>

<!-- featured categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
         <div class="col-3">
            <img src="/Ecommerce-Website/Images/category-1.jpg" >
            </div>
        <div class="col-3">
            <img src="/Ecommerce-Website/Images/category-2.jpg" >
        </div>
        <div class="col-3">
            <img src="/Ecommerce-Website/Images/category-3.jpg" >
        </div>
    </div>
    </div>
</div>
    
<!-- featured products -->

<div class="small-container">
    <h2>featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="/Ecommerce-Website/Images/product-1.jpg" >
            <h4>Red printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        
    </div>
</div>
     <br><br>
          
      <div class="foot-box">
          <div class="fb">
              <a href=""><h3>Get to Know Us</h3>
              <a href="">About Us</a> <br><br>
              <a href="">Careers</a> <br><br>
              <a href="">Press Releases</a><br><br>
              <a href="">Amazon Science</a><br><br>
  
          </div>
          <div class="fb">
             <a href=""><h3>Connect with Us</h3></a> 
             <a href="">Facebook</a> <br><br>
             <a href="">Instagram</a> <br><br>
             <a href="">Twitter</a> <br><br>
              
  
          </div>
          <div class="fb">
              <a href=""><h3>Make Money with Us</h3></a>
              <a href="">Sell on Amazon</a><br><br>
              <a href="">Sell under Amazon Accelerator</a><br><br>
              <a href="">Protect and Build Your Brand</a><br><br>
              <a href="">Amazon Global Selling</a><br><br>
              <a href="">Become an Affiliate</a><br><br>
  
          </div>
          <div class="fb">
              <a href=""><h3>Let Us Help You</h3></a>
              <a href="">COVID-19 and Amazon</a><br><br>
              <a href="">Your Account</a><br><br>
              <a href="">Returns Centre</a><br><br>
              <a href="">100% Purchase Protection</a><br><br>
              <a href="">Amazon App Download</a><br><br>
            
  
          </div>
  
      </div>
      <div class="lastbox">
          <div class="boxx">
              <div class="image"></div>
              <select name="" id="">
                  <option value="">English</option>
                  <option value="">Hindi</option>
                  <option value="">Marathi</option>
                  <option value="">Urdu</option>
                  <option value="">Telgu</option>
                  <option value="">Bhojpuri</option>
                  <option value="">Malayalam</option>
              </select>
          </div>
          <p>@copyright by RahulCoder</p>
      </div>
  
</body>
</html>