<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HMART</title>
	<link rel="stylesheet" href="/Ecommerce-Website/static/style.css">
	<link rel="stylesheet" href="/Ecommerce-Website/template/header.html">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
	<div class="categories">
		<div class="small-container">
		    <div class="row">
		 <div class="col-3">
		    <img src="/Ecommerce-Website/static/category-1.jpg" >
		    </div>
		<div class="col-3">
		    <img src="/Ecommerce-Website/static/category-2.jpg" >
		</div>
		<div class="col-3">
		    <img src="/Ecommerce-Website/static/category-3.jpg" >
		</div>
	 </div>
	 </div>
  </div>
  <!-- featured products -->

<div class="small-container">
	<h2>featured Products</h2>
	<br>
	<div class="row">
	    <div class="col-4">
		   <img src="/Ecommerce-Website/static/product 4.jpg" >
		   <h4> printed T-shirt</h4>
		   <div class="rating">
			  <i class="fa fa-star" aria-hidden="true"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star-o"></i>
		   </div>
		   <p>$50.00</p>
	    </div>
	    <div class="col-4">
		   <img src="/Ecommerce-Website/static/product 4.jpg" >
		   <h4> printed T-shirt</h4>
		   <div class="rating">
			  <i class="fa fa-star" aria-hidden="true"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star-o"></i>
		   </div>
		   <p>$50.00</p>
	    </div>
	    <div class="col-4">
		   <img src="/Ecommerce-Website/static/product 4.jpg" >
		   <h4> printed T-shirt</h4>
		   <div class="rating">
			  <i class="fa fa-star" aria-hidden="true"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star-o"></i>
		   </div>
		   <p>$50.00</p>
	    </div>
	    <div class="col-4">
		   <img src="/Ecommerce-Website/static/product 4.jpg" >
		   <h4> printed T-shirt</h4>
		   <div class="rating">
			  <i class="fa fa-star" aria-hidden="true"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star-o"></i>
		   </div>
		   <p>$50.00</p>
	    </div>
	     <!-- upper done -->
	    <div class="col-4">
		<img src="/Ecommerce-Website/static/product 1.jpg" >
		<h4>Combo T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 1.jpg" >
		<h4>Combo T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 1.jpg" >
		<h4>Combo T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 1.jpg" >
		<h4>Combo T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	  <!--  middle done -->
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 3.jpg" >
		<h4>Blue T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 3.jpg" >
		<h4>Blue T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 3.jpg" >
		<h4>Blue T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	 <div class="col-4">
		<img src="/Ecommerce-Website/static/product 3.jpg" >
		<h4>Blue T-shirt</h4>
		<div class="rating">
		    <i class="fa fa-star" aria-hidden="true"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star-o"></i>
		</div>
		<p>$50.00</p>
	 </div>
	  <!-- downer done -->
	</div>
 </div>
 <div class="container-large">
	<div class="row">
		<div class="col-5">
		    <h1> Get A New Styles Collection</h1>
		    <p>Success isn't always about greatness.
			    It's about consistency. consistent
				hard work gains success. Greatness
				 will come</p>
				 <a href="#" class="butn">Buy Now &#8594;</a>
		</div>
		<div class="col-5">
		    <img src="/Ecommerce-Website/static/exclusive.png" alt="">
		</div>
	 </div>
 </div>
 <!-- index.html Done -->
</body>
</html>
