<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>HMART</title>
     <link rel="stylesheet" href="/Ecommerce-Website/static/style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
rel="stylesheet">
 <link rel="stylesheet" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
 <div class="small-container">
               <div class="row-8">
                    <h2>All Products</h2> 
                      <select>
                        <option>Default Shorting</option>
                        <option>Short By Price</option>
                        <option>Short By Populity</option>
                        <option>Short By rating</option>
                        a<option>Short By sale</option>
                      </select>
               </div>
     <div class="row">
         <div class="col-4">
               <a href="productdetail.html"><img src="/Ecommerce-Website/static/product 1.jpg"></a>
               <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
               </div>
                    <p>$50.00</p>
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 1.jpg">
                    <h4>Black awsome shoes</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$500.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 1.jpg">
                    <h4>Man's Trosal</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    </div>
                    <p>$150.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 1.jpg">
                    <h4>Black man t shirt</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$50.00</p> 
                    </div>
                    </div>
                    <!-- Row no 1 -->
                    <div class="row">
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 2.jpg">
                    <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$50.00</p>
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 2.jpg">
                    <h4>Black awsome shoes</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$500.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 2.jpg" >
                    <h4>Man's Trosal</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    </div>
                    <p>$1.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 2.jpg">
                    <h4>Black man t shirt</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$50.00</p> 
                    </div>
                    </div>
               <!-- Row no 2 -->
                    <div class="row">
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 3.jpg">
                    <h4>White shoes</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$152.00</p>
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 3.jpg">
                    <h4>Black awsome t-shirts</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$110.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 3.jpg">
                    <h4>Man's Shoks</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    </div>
                    <p>$250.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 3.jpg">
                    <h4>Black nikon watch</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$50.00</p> 
                    </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="row">
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 4.jpg">
                    <h4>Sport Watch</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$150.00</p>
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 4.jpg">
                    <h4>Black awsome shoes</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$500.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 4.jpg">
                    <h4>Man's Shoes</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    </div>
                    <p>$150.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 4.jpg">
                    <h4>Mans Trausal</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$250.00</p> 
                    </div>
                    </div>

                    <!-- row 4 -->
                    <div class="row">
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 4.jpg">
                    <h4>White shoes</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$152.00</p>
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 3.jpg">
                    <h4>Black awsome t-shirts</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$110.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 3.jpg">
                    <h4>Man's Shoks</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                    </div>
                    <p>$250.00</p> 
                    </div>
                    <div class="col-4">
                    <img src="/Ecommerce-Website/static/product 4.jpg">
                    <h4>Black nikon watch</h4>
                    <div class="rating">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>$50.00</p> 
                    </div>
                    </div>
                    <!-- Row 5 -->

                    <div class="page-btn">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>&#8594;</span>
                    </div>
                    </div>
                    <div class="footer">
                    <p class="copyright">@copyright Rahulcoder-2003</p> 
                    </div> 
                    </div>
                    </body>
                    <script type="text/javascript">
                         var LoginForm = document.getElementById("Loginform");
                         var RegForm = document.getElementById("Regform");
                         var Indicateor = document.getElementById("Indicateor");
                         function register() {
                         RegForm.style.transform = "translate(0px)";
                         LoginForm.style.transform = "translate(0px)";
                         Indicateor.style.transform = "translate(100px);"
                         }
                         function login() {
                         RegForm.style.transform = "translate(300px)";
                         LoginForm.style.transform = "translate(300px)";
                         Indicateor.style.transform = "translate(0px);"
                         }
                        </script>
                    </html> 
