*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.logo h1{
    color: #fff;
    font-size: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding:10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #f8f5f5;
}
p{
    color: #fbf9f9;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #f8f5f5
}
.btn{
    display: inline-block;
    background: #095c14;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover{
    background: #131313;
}
.header{
    background: #363636;
}
.header .row{
    margin-top: 70px;
}
/* Header Over / Done  */
/* slider */
:root {
	--img: url(https://cdn.josetxu.com/img/gp-fisura-saqueadores.jpg);
}

html {
	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center center;
	background-image: var(--img);
	transition: background 0.5s ease 0s;
	font-family: 'poppins', sans-serif;
}

body:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000c9;
	z-index: 0;
}

.content {
	width: 60vmin;
	height: 60vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center center;
	background-image: var(--img, url(https://cdn.josetxu.com/img/gp-fisura-saqueadores.jpg));
	transition: background 0.5s ease 0s;
	max-width: 500px;
	max-height: 500px;
	box-shadow: 0 0 0vmin 1vmin #fff, 0 0 10vmin 5vmin #000;
	border-radius: 2px;
	z-index: 0;
	background-color: #fff;
}

.content:before {
	content: "cuadernodeescaladas.com";
	position: absolute;
	width: 100%;
	text-align: center;
	margin-bottom: -55vmin;
	text-shadow: -1px -1px 0 #0007;
	color: #fff4;
	font-size: 18px;
}

/* CONTROLS */
.controls {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
}

input[type=radio] {
	display: none;
}		

label {
	width: 50vw;
	height: 100vh;
	position: relative;
	cursor: pointer;
	opacity: 0.15;
}

label:hover {
	opacity: 1;
}

input:first-child:checked ~ .content .controls label:first-child,
input:last-of-type:checked ~ .content .controls label:last-of-type {
	cursor: default;
	opacity: 0.025;
}


/* HIDE LABELS */
#b2:checked ~ .content .controls label[for=b2], 
#b3:checked ~ .content .controls label[for=b3], 


#b3:checked ~ .content .controls label[for=b1]{
	display: none;
}


/* ARROWS */
label:before {
	content: "";
	position: absolute;
	background: 
		linear-gradient(30deg, #fff0 60%, #fff calc(60% + 1px)), 
		linear-gradient(-30deg, #fff 40%, #fff0 calc(40% + 1px)), 
		linear-gradient(-90deg, #fff0 70%, #fff calc(70% + 1px));
	width: 6vmin;
	height: 6vmin;
	border-radius: 5px;
	right: 7vmin;
	top: calc(50% - 3vmin);
}

/* LEFT ARROW */
#b1:checked ~ .content .controls label[for=b1]:before,
#b2:checked ~ .content .controls label[for=b1]:before,
#b3:checked ~ .content .controls label[for=b2]:before{
	left: 7vmin;
	transform: rotate(180deg);
}




/* TITLES  */
body:after {
	content: "White addidas Hoddies";
	position: absolute;
	top: 2vh;
	color: #fff;
	font-size: 35px;
	line-height: 45px;
	transition: all 0.5s ease 0s;
	text-shadow: 0px 1px 0 #000000d9;
	white-space: pre-wrap;
	text-align: center;
	width: 100vw;
	padding: 1vmin;
	background: #ffffff05;
	font-weight: 300;
}

body:has(input#b1:checked):after {
	content: "White addidas Hoddies";
}

body:has(input#b2:checked):after {
	content: "Nike New Collection";
}

body:has(input#b3:checked):after {
	content: "Flat 70% to 80% Off on Shoes";
}


/*** THUMBNAILS ***/
.thumbnails {
	position: absolute;
	background: #ffffff05;
	width: 100vw;
	bottom: 3vh;
	text-align: center;
	padding: 1vmin;
}

.thumbnails label {
	background-color: #0008;
	position: relative;
	width: 8vmin;
	height: 8vmin;
	display: inline-block;
	margin-left: 1vw;
	background-image: var(--img);
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	border-radius: 2px;
}

/* IMAGES / THUMBNAILS */
body:has(input#b1:checked), .thumbnails label[for=b1] {
	--img: url(/Ecommerce-Website/static/category-3.jpg);
}

body:has(input#b2:checked), .thumbnails label[for=b2] {
	--img: url(/Ecommerce-Website/static/category-2.jpg);
}

body:has(input#b3:checked), .thumbnails label[for=b3] {
	--img: url(/Ecommerce-Website/static/category-1.jpg);
}

.thumbnails label:before { display: none; }
.thumbnails label:hover { opacity: 1; }
.thumbnails label:first-child { margin-left: 0; }

#b1:checked ~ .content .thumbnails label[for=b1],
#b2:checked ~ .content .thumbnails label[for=b2],
#b3:checked ~ .content .thumbnails label[for=b3]{
	opacity: 1;
	box-shadow: 0 0 0.01vmin 0.5vmin #fff;
}



/* MEDIA QUERIES */
@media only screen and (max-width:767px) {
	body:after {
		top: 2vh;
		font-size: 20px;
		white-space: initial;
	}
}

@media only screen and (max-width:580px) {
	body:after {
		font-size: 25px;
		white-space: pre-wrap;
	}
}

/* BROWSER SUPPORT */
.firefox {
	background: #0008;
	color: #fff;
	position: absolute;
	top: 45vh;
	width: 45vmin;
	padding: 2vmin 3vmin;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
}

.firefox span code {
	font-size: 24px;
	background: #0008;
	padding: 0 10px;
	border-radius: 25px;
}

@supports (-webkit-font-smoothing: antialiased) {
	.firefox {
		display: none;
	}
}
/* Slider Over | Done  */