*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'poppins',sans-serif;
     background-color: #2e3948;
}

.header{
background-color: rgb(6, 180, 237);
}
.navbar{
          display: flex;
          align-items: center;
          padding:10px;
      }
.navbar a{
         margin-top: 21px;
         margin-left: 40px;
         margin-bottom: 12px; 
      }
nav{
          flex: 1;
          text-align: right;
      }
nav ul{
          display: inline-block;
          list-style-type: none;
      }
nav ul li{
          display: inline-block;
          margin-right: 20px;
      }

a{
     text-decoration: none;
     color: #171616;
 }
 p{
     color: #f3f1f1#000;
 }
 .container{
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
 }
 .herosection{
    background-image: url(/Ecommerce-Website/Images/heroimage.jpg);
    width: 95%;
    height: 300px;
    margin-left: 40px;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}
.slider{
    background-color: #2e3948;
    margin-left: 40px;
    width: 95%;
    height: 500px;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 20s slide infinite;
}

.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    height: 500px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }   
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: left 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
#backtop{
    display: flex;
    justify-content: center;
    background-color:#2e3948 ;
    /* height: 43px; */
    padding-top:20px ;
    padding-bottom:20px ;
    font-size: 13px;
    color: white;
}
.fb{
    height: 220px;
    width: 251px;
    padding-left:10px ;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.foot-box{
    display: flex;
    justify-content:space-evenly;
    background-color: #232F3E;
}
.foot-box h3{
    color: white;
    font-size: 16px;
    margin-bottom: 14px;
}
.foot-box p{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}
.image{
    background-image: url('images/logo.png');
    width: 100px;
    height: 68px;
    background-size: cover;
    margin-right: 70px;
}

.lastbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height:68px;
    background-color: black;
}
.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 1000px;
    background-color:black;
}
.boxx option {
    margin-left: 70px;
    background-color: black;
}
.boxx select{
    background-color: black;
    color: wheat;
}
.lastbox p{
    color: #cccccc;
}
.foot-box,.fb a{
    color: #f3f1f1;
}
.button1{
    margin-left: 117px;
    display: flex;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
     font-family: 'Poppins', sans-serif;
    }
    .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    }
    nav{
    flex: 1;
    text-align: right;
    }
    nav ul{
    display: inline-block;
    list-style-type: none;
    }
    nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
     transition:color 0.3s;
    }
     a:hover{
     color: #ff523b;
     }
    a{
    text-decoration: none;
    color: #fff;
    }
    p{
    color:#fff ;
    }
    .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
    .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .col-2{
    flex-basis: 50%;
    min-width: 300px;
     padding: 20px;
    }
    .col-2 img{
    max-width: 100%;
    padding: 50px 0;
     transition: all 0.25s ease-in-out;
    }
    .col-2 img:hover{
     transform: translate(-40px);
     scale: 1.05;
    }
     .col-2 h1{
     font-size: 46px;
     line-height: 60px;
     margin: 25px 0;
     }
     .btn{
     display: inline-block;
     background: #ff523b;
     color: #fff;
     padding: 8px 30px;
     margin: 30px 0;
     border-radius: 30px;
     transition: background 0.5;
     }
     .btn:hover{
     background: #563434;
     }
     .header .row{
     margin-top: 10px;
     }
     .categories{
     margin: 70px 0;
     display: flex;
     } 
     .col-3{
     flex-basis: 33%;
     min-width: 250px;
     margin-bottom: 30px;
     }
     .col-3 img{
     width: 100%;
     border-radius: 10px;
     }
     .small-container{
     max-width: 1080px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
     }
     .col-4{
     flex-basis: 25%;
     padding: 10px;
     min-width: 200px;
     margin-bottom: 50px;
     transition:transform 0.4s;
     }
     .col-4 img{
     width: 100%;
     }
     .title{
     text-align: center;
     margin: 0 auto 80px;
     position: relative;
     line-height: 60px;
     color: #555;
     }
     .title::after{
     content: '';
     background: #ff523b;
     height: 5px;
     width: 95px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%); 
     }
     h4{
     color: #555;
     font-weight: normal;
     }
     .col-4 p{
     font-size: 14px;
     }
     .rating .fa{
     color: #ff523b;
     }
     .rating .fa-solid {
     color: #ff523b;
     }
     .col-4:hover{
     transform: translate(-10px);
     } 
     .offer{
    
     margin-top: 80px;
     padding: 30px 0;
     height: 500px;
     }
     .col-2 .offer-img{
     padding: 75px;
     }
     small{
     color: #555;
     }
     .testimonial{
     padding-top: 100px;
     }
     .col-3{
     text-align: center;
     padding: 15px;
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
     border-radius: 5%;
     transition: all 0.5s ease-in-out;
     scale: 0.95;
     }
     .col-3:hover{
     /*transform: translate(-10px);*/
     scale: 1.02;
     }
     .Rani{
     max-width: 50px;
     margin-top: 20px;
     border-radius: 50%;
     align-items: center;
     }
     .fa.fa-quote-left{
     font-size: 30px;
     color: #ff523b;
     }
     .col-3 p{
     font-size: 14px;
     margin: 12px 0;
     color: #777;
     }
     .col-3 h4{
     color: #555;
     font-size: 16px;
     }
     .brands{
     margin: 100px auto;
     }
     .col-5 img{
     width: 100%;
     cursor: pointer;
     filter: grayscale(70%);
     }
     .col-5 img:hover{
     filter: grayscale(0);
     }
     .footer{
     background: #000;
     color: #8a8a8a;
     font-size: 14px;
     padding: 60px 0 20px;
     }
     .footer p{
     color:#8a8a8a;
     }
     .footer h3{
     color: #fff;
     margin-bottom: 20px;
     }
     .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
     min-width: 250px;
     margin-bottom: 20px;
     }
     .footer-col-1{
     flex-basis: 30%;
     }
     .footer-col-2{
     flex: 1;
     text-align: center;
     }
     .footer-col-2 img{
     width: 180px;
     margin-bottom: 20px;
     }
     .footer-col-3,.footer-col-4{
     flex-basis: 12%;
     text-align: center;
     }
     ul{
     list-style-type: none;
     }
     .app-logo{
     margin-top: 20px;
     }
     .app-logo img{
     width: 140px;
     }
     .copyright{
     text-align: center;
     }
     .footer hr{
     border: none;
     background: #b5b5b5;
     height: 1px;
     margin: 20px 0;
     }
     .row-8{
     justify-content: space-between;
     margin: 70px auto 50px;
     display: flex;
     }
     select{
     border: 1px solid #ff523b;
     padding: 5px;
     }
     select:focus{
     outline: none;
     }
     .ss{
     height: 318px;
     }
     .sss{
     height: 240px;
     }
     .page-btn{
     margin: 0 auto 80px;
     }
     .page-btn span{
     display: inline-block;
     border: 1px solid #ff523b;
     margin-left: 10px;
     width: 40px;
     height: 40px;
     text-align: center;
     line-height: 40px;
     cursor: pointer;
     }
     .page-btn span:hover{
     background: #ff523b;
     color: #fff;
     }
     .small-container-single{
     margin-top: 80px;
     }
     .small-container-single .col-2{
     padding: 20px;
     }
     .small-container-single .col-2 img{
     padding: 0;
     }
     .small-container-single h4{
     margin: 20px 0;
     font-weight: bold;
     font-size: 22px;
     }
     .small-container-single select{
     display: block;
     padding: 10px;
     margin-top: 20px;
     }
     .small-container-single input{
     width: 50px;
     height: 40px;
     padding-left: 10px;
     font-size: 20px;
     margin-right: 10px;
     border: 1px solid #ff523b;
     }
     input:focus{
     outline: none;
     }
     .small-container-single .fa{
     color: #ff523b;
     margin-left: 10px;
     }
     .small-img-row{
     display: flex;
     justify-content: space-between;
     }
     .small-img-col{
     flex-basis: 40%;
     cursor: pointer;
     }
     .row row-2 h2{
     margin: 125px;
     }
     .cart-page{
     margin: 80px auto;
     }
     table{
     width: 100%;
     border-collapse: collapse;
     }
    .cart-info{
     display: flex;
     flex-wrap: wrap;
    }
    th{
     text-align: left;
     padding: 5px;
     color: #fff;
     background: #ff523b;
     font-weight: normal;
    }
    td{
     padding: 10px 5px;
    }
    td input{
     width: 40px;
     height: 30px;
     padding: 5px;
    }
    td a{
     color:#ff523b ;
     font-size: 12px;
    }
    td img{
     width: 80px;
     height: 80px;
     margin-right: 10px;
    }
    .total-price{
     display: flex;
     justify-content: flex-end;
    }
    .total-price table{
     border-top: 3px solid #ff523b;
     width: 100%;
     max-width: 400px;
    }
    td:last-child{
     text-align: right;
    }
    th:last-child{
     text-align: right;
    }
    .Account-page{
     padding: 50px 0;
    }
    .form-container{
     background: #fff;
     width: 300px;
     height: 400px;
     position: relative;
     text-align: center;
     padding: 20px 0;
     margin: auto;
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
     overflow: hidden;
    }
    .form-container span{
     font-weight: bold;
     padding: 0 10px;
     color: #555;
     cursor: pointer;
     width: 100px;
     display: inline-block;
    }
    .form-btn{
     display: inline-block;
    }
    .form-container form{
     max-width: 300px;
     padding: 0 20px;
     position: absolute;
     top: 130px;
    }
    form input{
     width: 100%;
     height: 30px;
     margin: 10px 0;
     padding: 0 10px;
     border: 1px solid #ccc;
    }
    form .btn{
     width: 100%;
     border: none;
     cursor: pointer;
     margin: 10px 0;
    }
    form .btn:focus{
     outline: none;
    }
    #LoginForm{
     left: -300px;
    }
    #RsegForm{
     left: 0;
    }
    form a{
     font-size: 12px;
    }
    #Indicateor{
     width: 100px;
     border: none;
     background: #ff523b;
     height: 3px;
     margin-top: 8px;
     transform: translate(100px);
    }
    